/* Hero 섹션 스타일 */
#hero {
    background-color: #495E57;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
    color: white;
    gap: 1.25rem;
    min-height: 31.25rem;
    height: auto;
    overflow: hidden;
}

/* Hero 텍스트 스타일 */
#hero .hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    max-width: 25rem;
    width: 100%;
    height: auto;
}

#hero h2 {
    font-family: 'Markazi Text', serif;
    font-size: 4rem;
    font-weight: 500;
    text-align: left;
}

#hero h3 {
    font-family: 'Markazi Text', serif;
    font-size: 2.5rem;
    font-weight: 400;
    text-align: left;
}

#hero p {
    font-family: 'Karla', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
    margin: 0.625rem 0;
    line-height: 1.4;
}

/* Hero 이미지 스타일 */
#hero img {
    width: 100%;
    max-width: 23.4375rem;
    height: 100%;
    max-height: 27.0625rem;
    flex-shrink: 0;
    border-radius: 1rem;
}

@media (max-width: 37.5rem) {
    #hero {
        flex-direction: column;
        padding: 1rem;
        text-align: center;
    }

    #hero .hero-text {
        align-items: center;
        text-align: center;
        width: 90%;
        max-width: 100%;
    }

    #hero img {
        width: 80%;
        max-width: 18.75rem;
        height: auto;
    }

    #hero h2 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    #hero h3 {
        font-size: 1.75rem;
        line-height: 2rem;
    }

    #hero p {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}